body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
}

h1,h2,h3,h4,h5,h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 21px;
    padding-bottom: 21px;
}
.header-nav {
    display: flex;
    align-items: center;
}

.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    padding-left: 0px;
}

.address-nav {
    display: flex;
    gap: 40px;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.container {
    display: flex;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/* hero  */
.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}



.hero-title {       
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
        max-width: 496px;
        margin: 0auto;
}

.hero-order {
    font-family: "Roboto", sans-serif;
        background-color: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;    
}

.hero-order:hover,
.hero-order:focus {
background-color: #404BBF
}

/* advetages */

.adventages {
    background-color: #F4F4FD;
    margin-left: 156px;
    margin-right: 156px;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* .visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    


.adventages-list {
    ackground-color: #FFFFFF;
    gap: 24px;
    display: flex;
}

.adventages-item-title {
    width: calc((100% - 72px) / 4);
    display: flex;
}

.adventages-subtitle {
                   font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                margin-bottom: 8px;
}

.adventages-item-text {
    font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #434455;  
}

/* Team */

.team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}

.team-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list-title {
    background-color: #FFFFFF;
    padding-bottom: 120px;
    padding-top: 72px;
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-picture {}


.mark-designer {
    padding-top: 32px;
    padding-bottom: 32px;
}



.team-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        padding-top: 0px;
        padding-bottom: 32px;
}
/* Portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-item {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        padding-top: 120px;
        margin-bottom: 72px;
}

.portfolio-item-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list {
/* width: calc((100% - 24px * 2) / 3); */
   width: calc((100% - 48px) / 3);
}

.portfolio-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-images {}

.portfolio-item-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 32px;
        padding-bottom: 8px;
        margin-bottom: 8px;
}

.portfolio-title {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-container {}

.footer-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        margin-bottom: 16px;
        display: inline-block;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

